<div class="row">
    <div class="col">
        <input #record type="text" (keyup)="search(record.value)" name="" id="" class="form-control" placeholder="Search artist...">
    </div>
    <!-- If there are artists -->
    <div class="container" style="margin-top: 2rem">
        <div class="card-columns" *ngIf="artists">
            <div *ngFor="let artist of artists" class="card">
                <img [src]="artist.images | noimage " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ artist.name }}</h5>
                    <p class="card-text"><span *ngFor="let genre of artist.genres" class="badge badge-pill badge-primary">
                        {{ genre }}
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>